@import url('https://fonts.googleapis.com/css2?family=Prata&family=Teko:wght@300..700&display=swap');

.form-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	background: none;
}

.form-group {
	margin-bottom: 10px;
	background: none;
}